<section class="session">
  <aside>
    <h1>회원가입</h1>
    <p>회원이 신가요?
      <%= link_to "로그인", login_path %></p>
  </aside>
  <article>
    <%= form_for(@user) do |f| %>
      <%= f.label :name, "이름" %>
      <%= f.text_field :name, class: "signarea" %>
      <%= f.label :email, "이메일" %>
      <%= f.text_field :email, class: "signarea" %>
      <%= f.label :password, "비밀번호" %>
      <%= f.password_field :password, class: "signarea" %>
      <%= f.label :password_confirmation, '비밀번호 확인' %>
      <%= f.password_field :password_confirmation, class: "signarea" %>
      <%= f.submit '가입하기', class: 'signupbutton' %>
    <% end %>
  </article>
</section>
