<%= form_for(@listing, html: { multipart: true }) do |f| %>
  <%= f.label :title, "제품명" %>
  <%= f.text_field :title, class: "fields" %>
  <%= f.label :realprice, "가격" %>
  <%= f.text_field :realprice, placeholder: "₩₩₩", class: "fields" %>
  <%= f.select :tag_list, options_for_select([["추천상품", "추천상품"], ["계절상품", "계절상품"], ["가구", "가구"], ["가전제품", "가전제품"], ["사무용품", "사무용품"], ["업무용품", "업무용품"]]) %>
  <%= f.label :detail, "정보" %>
  <%= f.text_area :detail %>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  <%= f.submit "게시", class: "button" %>
<% end %>
