<%= form_for(@listing, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  
  	<%= f.label :title, class: "fieldlabel" %>
    <%= f.text_field :title, placeholder: "New listing title..." %>
    
    <%= f.label :price, class: "fieldlabel" %>
    <%= f.text_field :price, placeholder: "₩₩₩" %>
    
    <%= f.label :tag_list, class: "fieldlabel" %>
    <%= f.text_field :tag_list %>
  </div>
  <span class="picture">
  	<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>


