<li id="post-<%= post.id %>">
  <div class="center title"><%= link_to post.title, post %></div>
  <span class="date"><%= post.created_at.strftime("%Y-%m-%d") %></span>
  <p><%= truncate_html post.content, length: 350 %>
    <% if post.content.length > 350 %>
      <%= link_to "더보기", post %></p>
  <% end %>
  <div class="timestamp">
    <%= link_to "댓글 보기", post %>
    <% if current_user?(post.user) && current_user.admin? %>
      <%= link_to "삭제", post, method: :delete,
                                       data: { confirm: "확실 해요?" } %>
    <% end %>
  </div>
</li>
