<li id="post-<%= post.id %>">
  <div class="center title"><%= link_to post.title, post %></div>
  <span class="content"><%= post.content %></span>
  <div class="timestamp">
    Posted <%= post.created_at.strftime("%Y-%m-%d") %>.
    <% if current_user?(post.user) && current_user.admin?%>
      <%= link_to "삭제", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </div>
</li>
