<section class="postshow">
  <section>
    <h1><%= @post.title %></h1>
    <span class="date"><%= @post.created_at.strftime("%Y-%m-%d") %></span>
    <p><%= @post.content %></p>
  </section>
  <article>
    <% if @post.comments.any? %>
      <p>댓글</p>
    <% end %>
    <% @post.comments.each do |comment| %>
      <%= render comment %>
    <% end %>
    <% if logged_in? %>
      <%= render 'shared/comment_form' %>
    <% else %>
      <h3>댓글 남기시려면
        <%= link_to "로그인", login_path %>을 하셔야 합니다</h3>
    <% end %>
  </article>
</section>
