<section class="postshow">
  <aside>
    <h1><%= @post.title %></h1>
    <p><%= @post.content %></p>
  </aside>
  <article>
    <% @post.comments.each do |comment| %>
      <div class="comments">
        <h2><%= comment.user.name %></h2>
        <p><%= comment.content %></p>
        <span class="timestamp">
          <%= (comment.created_at.strftime("%Y-%m-%d")) %>
          <% if logged_in? %>
            <% if current_user?(comment.user) || current_user.admin? %>
              <%= link_to "삭제", [comment.post, comment], method: :delete,
                                       data: { confirm: "확실 해요?" } %>
            <% end %>
          <% end %>
        </span>
      </div>
    <% end %>
    <% if logged_in? %>
      <%= render 'shared/comment_form' %>
    <% else %>
      <h3>코멘트를 남기시려면
        <%= link_to "로그인", login_path %>을 하셔야 합니다</h3>
    <% end %>
  </article>
</section>
