<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
  	<%= link_to "재활용 센터", root_path, id: "logo" %>
  	<nav>
    	<ul class="nav navbar-nav pull-right">
      	<li><%= link_to "Help", help_path %></li>
      	<li><%= link_to "Service", service_path %></li>
				<li><%= link_to "Products", product_path %></li>
      	<li><%= link_to "Questions", question_path %></li>
      	<li><%= link_to "Log in", '#' %></li>
    	</ul>
  	</nav>
	</div>
</header>