<header class="navigation">
  <div class="navigation-wrapper">
    <%= link_to "대전 재활용센터", root_path, class: "logo" %>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link more"><a href="javascript:void(0)">판매</a>
          <ul class="submenu">
            <li><%= link_to '추천상품', '/t/1' %></li>
            <li><%= link_to '계절상품', '/t/2' %></li>
            <li><%= link_to '가구', '/t/3' %></li>
            <li><%= link_to '가전제품', '/t/4' %></li>
            <li><%= link_to '사무용품', '/t/5' %></li>
            <li><%= link_to '업무용품', '/t/6' %></li>
          </ul>
        </li>
        <% if logged_in? && current_user.admin? %>
          <li class="nav-link"><%= link_to '업로드', all_path %></li>
        <% end %>
        <li class="nav-link"><%= link_to '공지사항', announcement_path %></li>
        <% if logged_in? %>
          <li class="nav-link"><%= link_to '로그 아웃', logout_path, method: "delete" %></li>
        <% else %>
          <li class="nav-link"><%= link_to '로그인', login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <script>
    $(document).ready(function() {
    var menu = $('#navigation-menu');
    var menuToggle = $('#js-mobile-menu');
    var signUp = $('.sign-up');

    $(menuToggle).on('click', function(e) {
      e.preventDefault();
      menu.slideToggle(function(){
        if(menu.is(':hidden')) {
          menu.removeAttr('style');
        }
      });
    });

    // underline under the active nav item
    $(".nav .nav-link").click(function() {
      $(".nav .nav-link").each(function() {
        $(this).removeClass("active-nav-item");
      });
      $(this).addClass("active-nav-item");
      $(".nav .more").removeClass("active-nav-item");
    });
  });
  </script>
</header>
