<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>재활용 센터</title>
    <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=6fb1ad94a89cc611018e86660e432c2d2ce16f4b"></script>
    <script>
      var mapContainer = document.getElementById('map'),
          mapOption = {
              center: new daum.maps.LatLng(36.357537, 127.32399),
              level: 3
          };
      var map = new daum.maps.Map(mapContainer, mapOption);
      var markerPosition  = new daum.maps.LatLng(36.357537, 127.32399);
      
      var marker = new daum.maps.Marker({
          position: markerPosition
      });
      marker.setMap(map);
    </script>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="wrapper"><%= yield %></div>
    <%= render 'layouts/footer' %>
  </body>
</html>
